@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MontserratRegular";
  src: url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratMedium";
  src: url("../assets/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratBold";
  src: url("../assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "RobotoRegular";
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMedium";
  src: url("../assets/fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoBold";
  src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
  /* scroll-snap-type: y proximity; */
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.height_max-content {
  height: max-content;
}

.hover-underline {
  @apply transform hover:-translate-y-0.5 border-b-2 border-primary border-opacity-0 hover:border-opacity-50 transition-all;
}

.icon-spin:hover {
  animation: spin 2s linear infinite;
}

.outline-img {
  transition: all 0.3s;
  outline: 10px solid white;
}

.outline-img:hover {
  outline-color: #3a49f9;
  outline-offset: 10px;
  transform: translateY(-15px) scale(1.05);
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (min-width: 1024px) {
  .w-sider {
    width: 300px;
  }

  #content {
    margin-left: 300px;
  }
}

svg {
  vertical-align: baseline;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}
